body {
  font-size: 14px;
  background:#1e1e1e;
  color: white;
}
.content-area {
  background: #050E1E;
  border-radius: 30px;
  min-height: 100vh;
}
.m-0{
  margin:0px;
}
.header-banner {
  background: url("http://localhost:3000/assets/images/header.png");
  color:white;
  background-size:cover;
  position:relative;
  padding: 15px;
  border-radius: 16px;
}
.header-banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(23, 28, 37, 0.50);
  backdrop-filter: blur(6px);
  top: 0;
  border-radius: 16px;
  left: 0;
}
.header-banner-content {
   position: relative;
}
.header-breadcrumb {
  padding: 0px;
  margin-bottom:30px;
}
.header-breadcrumb li {
  display: inline-block;
}
.breadcrumb-country-name::after{
  content:'';
  border-right:3px solid; 
  border-bottom: 3px solid;
  height: 10px;
  width: 10px;
  transform: rotate(-45deg);
  display: inline-block;
  margin:0px 10px;
}
.teams-name-scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom:25px;
}
.team-1-name::after {
  content: '';
  height: 2px;
  width: 9px;
  border: solid 2px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 1px;
  margin: 0px 20px;
}

.team-2-score {
  background: #050E1E;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 24px;
    font-weight: bold;
}
.team-1-score {
  background: #050E1E;
  float: right;
  margin-right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 24px;
    font-weight: bold;
}
.banner-footer-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #050E1E;
  padding: 8px 10px;
  border-radius: 8px;
  width: 100%;
  color: white;
  border: none;
  transition: 0.3s;
}
.banner-footer-style:hover {
  background: #FBFF20;
  color: #030811;
}

.buttons-list {
  padding: 0;
  text-align: right;
  margin:0px;
}
.buttons-list li {
  display: inline-block;
}
.main-button {
  border-radius: 8px;
  border: 1.5px solid #0F2757;
  background:#13316C;
  padding: 5px 16px;
  color: white;
  margin-left: 10px;
  transition: 0.3s;
  text-decoration: none !important;

}
.main-button:hover {
  background: #FBFF20;
  color: #030811;
}
.game-main-block {
  border-radius: 16px;
  background: #0F2757;
  color: white;
  padding:10px;
  margin-bottom: 24px;
}
.game-main-block-header {
  padding: 0px;
  margin: 0px 0px 8px 0px;
  font-weight: 700;
}
.sport-time p {
  color: #7E8DA9;
  font-size: 12px;
}
.game-main-block-header li {
  display: inline-block;
  margin-right: 5px;
}
.chart-area {
  text-align: right;
}
.sport-time-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom:8px;
}
.sport-time-area div {
  margin-right: 10px;
}
.sport-teams-area {
  display: flex;
  flex-direction: column;
  margin-bottom:8px;
}

.sport-team-1 {
  display: flex;
  flex-direction: row;
  margin-bottom:8px;
}
.sport-team-2 {
  display: flex;
  flex-direction: row;
}
.deatil-btnlist {
  padding: 0px;
  margin: 0px;
}
.deatil-btnlist {
  padding: 0px;
  margin: 0px;
}
.deatil-btnlist li
{
  display:inline-block;
}
.detail-btn {
  border: 0;
  border-radius: 99999px;
  background: #0B1B3D;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 9px 12px;
  transition: 0.3s;
}
.detail-btn:hover {
  background: #FBFF20;
  color: #030811;
}

.lengthy-btn {
  width: 27%;
  margin-right: 8px;
}

.team-1-name , .team-2-name {
  margin-bottom: 10px;
}
.heading-area h2 {
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
}
.heading-area {
  height: 100%;
  display: flex;
  align-items: center;
}
.heading-row-main {
  margin-top: 32px;
  margin-bottom: 32px;
}
.sport-team-1-logo , .sport-team-2-logo {
  margin-right: 8px;
}
.number-area {
  margin-bottom: 12px;
}
.detail-footer-btns {
  font-size: 12px;
}
.selectedOdd {
  background: #FBFF20;
  color: #030811;
}
.viewallpage {
  margin: 0;
  padding: 32px 0px;
}
.viewallpage .viewallremove {
display:none;
}
.viewallbtn
{
  display:none;
}
.viewallpage .viewallbtn {
  display:block;
  }
  .coupon-block {
    position: fixed;
    top: 100px;
    right: 0;
    background: white;
    color: #0f2757;
}
.coupon-btn-close {
  background: #fbff20;
  color: #050e1e;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0;
  padding: 6px;
  border-radius: 10px 0px 0px 10px;
  font-weight: bold;
}
.coupon-content-area {
  padding: 30px;
}
.coupon-block-heading h3 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.bet-block {
  display: flex;
  justify-content: space-between;
}
.seleted-bets {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dashed;
}
.total-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack-input input {
  max-width: 100px;
}
.stack-odd-value {
  margin-top: 15px;
}
.odd-lable-area {
  display: flex;
  justify-content: space-between;
}
.pp-lable-area {
  margin-top: 10px;
  text-align: center;
}
.bet-team {
  margin-right: 20px;
}
